

<h1><%=@appointment.slot%></h1>
<h1>The time is <%=@appointment.time%></h1>

<p><%=@appointment.client_number%> customers</p>





<%=link_to 'Edit', edit_appointment_path%>|
<%=link_to 'Delete', appointment_path, method: :delete, data: {confirm: 'Are you sure bru?'}%>
